<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Đăng nhập</title>
  </head>
  <body>
    <h2>Đăng nhập hệ thống</h2>

    <form method="POST">
      <input
        type="text"
        name="username"
        placeholder="Tài khoản"
        required
      /><br /><br />
      <input
        type="password"
        name="password"
        placeholder="Mật khẩu"
        required
      /><br /><br />
      <button>Đăng nhập</button>
    </form>
  </body>
</html>
